build/
dist/
tempCodeRunnerFile.py
SolRich.zip
SolRich-Dev.zip
__pycache__/
*.pyc
upx.exe
SolRichOLD.zip
*.spec
!SolRich_TUI.spec
web-react-dist/
frontend/
*.apk
.vscode/
version_info.txt
release_hook.py
gen_version_info.py
.venv/
__pycache__/
*.pyc

